<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="w3-content" style="max-width:1532px;">

    <div class="w3-container w3-margin-top" id="rooms">
        <h3>Rooms</h3>
        <p>Make yourself at home is our slogan. We offer the best beds in the industry. Sleep well and rest well.</p>
    </div>

    <div class="w3-row-padding w3-padding-16">
        <div class="w3-container w3-quarter w3-margin w3-white" th:each="listing: ${listings}">
            <form method="get" role="form" th:action="@{/customers/rooms/book/} + ${listing.roomId}">
            <input hidden="hidden" th:value="${listing.roomId}" />
            <h3 th:text="${listing.roomType}"/>
            <h6 class="w3-opacity" th:text="'Room No : ' + ${listing.roomId}"/>
            <h6 class="w3-opacity" th:text="'From $' + ${listing.rent}"/>
            <p class="w3-large">

            <p class="w3-large">
            <span th:each="amenity : ${listing.amenities}">
                <i th:class="'fa ' + ${amenity.amenity.icon}"></i>
                <span th:text="${amenity.noOfAmenity}"/>
            </span>
            </p>

            </p>
            <button class="w3-button w3-block w3-black w3-margin-bottom">Choose Room</button>
            </form>
        </div>
    </div>
    </div>